.review {
  border: .1px solid gainsboro;
  border-radius: 4px;
  margin-bottom: 16px;
  .review__header {
    border-bottom: inherit;
    height: 39px;
    padding: 8px 16px;
    font-weight: 900;
  }
  .review__body {
    padding: 16px;
    text-align: justify;
  }
}
