<nav class="navbar navbar-dark bg-dark">
  <a class="navbar-brand" routerLink="/">
    <img src="../../assets/images/logo.png" width="30" height="30" class="d-inline-block align-top" alt="" loading="lazy">
    Rozetka
  </a>
  <a class="navbar-brand" routerLink="/" routerLinkActive="active-tab" [routerLinkActiveOptions]="{exact:true}">Products</a>
  <a class="navbar-brand" routerLink="/login" routerLinkActive="active-tab" [routerLinkActiveOptions]="{exact:true}" *ngIf="!currentUser">Login</a>
  <a class="navbar-brand" routerLink="/register" routerLinkActive="active-tab" [routerLinkActiveOptions]="{exact:true}" *ngIf='!currentUser'>Register</a>
  <a class="navbar-brand" (click)="logout()" routerLinkActive="active-tab" [routerLinkActiveOptions]="{exact:true}" *ngIf='currentUser'>Logout</a>
  <a class="navbar-brand" routerLink="/cabinet" routerLinkActive="active-tab" [routerLinkActiveOptions]="{exact:true}" *ngIf='currentUser'>My account</a>
</nav>
