<div class="product-card"
     [routerLink]="['', product.id]">
     <img class="product-image"
          [src]="product.urls[0]"
          [alt]='product.name'>
     <div class="product-name">
          {{product.name}}
     </div>
     <div class="product-price">
          {{product.price}}
     </div>
     <div class="product-description">
          {{product.description}}
     </div>
</div>

