.product-card {
  width: 100%;
  height: 100%;
  padding: 16px;
  position: relative;
  overflow: hidden;
  text-align: center;
  .product-image {
      max-height: 40%;
      width: auto;
      max-width: 100%;
  }
  .product-name {
    line-height: 16px;
    height: 32px;
    margin-bottom: 8px;
    overflow: hidden;
    font-size: 14px;
  }
  .product-price {
    font-size: 20px;
    line-height: 28px;
  }
  .product-description {
    line-height: 15px;
    font-size: 12px;
    text-align: justify;
  }
}
