<div class="card" *ngIf='user'>
  <div class="card-header">{{user.firstName}}'s account details</div>
  <div class="card-body">
    <table class="table table-borderless">
      <tr>
        <td>First Name</td>
        <td>{{user.firstName}}</td>
      </tr>
      <tr>
        <td>Last Name</td>
        <td>{{user.lastName}}</td>
      </tr>
      <tr>
        <td>Username</td>
        <td>{{user.username}}</td>
      </tr>
      <tr>
        <td>Token</td>
        <td>{{user.token}}</td>
      </tr>
    </table>
  </div>
  <div class="card-footer"></div>
</div>

