<div class="card">
  <div class="card-header">Register</div>
  <div class="card-body">
    <form [formGroup]="registerForm">
      <div class="form-group">
        <label for="firstName">First Name</label>
        <input class="form-control"
               formControlName="firstName"
               type="text"
               id="firstName"
               placeholder="First Name">
        <div class="input-alert" *ngIf="firstName.invalid && firstName.dirty">This field is required</div>
      </div>
      <div class="form-group">
        <label for="lastName">Last Name</label>
        <input class="form-control"
               formControlName="lastName"
               type="text"
               id="lastName"
               placeholder="Last Name">
        <div class="input-alert" *ngIf="lastName.invalid && lastName.dirty">This field is required</div>
      </div>
      <div class="form-group">
        <label for="username">Username</label>
        <input class="form-control"
               formControlName="username"
               type="email"
               id="username"
               placeholder="Username">
        <div class="input-alert" *ngIf="username.invalid && username.dirty && username.errors.required">This field is required</div>
        <div class="input-alert" *ngIf="username.invalid && username.dirty && username.errors.email">Use email as username</div>
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input class="form-control"
               formControlName="password"
               type="password"
               id="password"
               placeholder="Password">
        <div class="input-alert" *ngIf="password.invalid && password.dirty && password.errors.required">This field is required</div>
        <div class="input-alert" *ngIf="password.invalid && password.dirty && password.errors.pattern">
          <ul>Valid password should include:
            <li>at least 2 small letters;</li>
            <li>at least 2 capital letters;</li>
            <li>at least 2 symbols (!@#$%^&*_);</li>
            <li>at least 2 digits;</li>
            <li>be at least 8 characters in length;</li>
          </ul>
        </div>
      </div>
      <div *ngIf="error"
           class="alert alert-danger"
           role="alert">
           {{error}}
      </div>
      <div *ngIf="success"
           class="alert alert-success"
           role="alert">
           {{success}}
      </div>
    </form>
  </div>
  <div class="card-footer">
    <button class="btn btn-primary"
            type="submit"
            (click)='register()'
            [disabled]="registerForm && registerForm.dirty && registerForm.invalid">
            Register
    </button>
  </div>
</div>

