input.ng-invalid.ng-dirty {
  border: 2px solid rgba(255, 0, 0, 0.568);
}

input.ng-valid.ng-dirty {
  border: 2px solid rgba(76, 218, 100, 0.568);
}

.input-alert{
  margin-top: 3px;
  color: #ff847d;
  font-size: 14px;
  ul {
    list-style-position: inside;
    li {
      padding-left: 10px;
    }
  }
}
