<main class="product-page" *ngIf="product">
  <section class="product-details">
    <app-product-details [product]="product"></app-product-details>
  </section>
  <section class="product-review-form">
    <app-product-review-form [productId]="product.id"></app-product-review-form>
  </section>
  <section class="product-review-list">
    <app-product-review-list [productId]="product.id"></app-product-review-list>
  </section>
</main>
