.card {
  .card-body {
    .product-images {
      height: 400px;
      margin-bottom: 20px;
      display: flex;
      flex-flow: row nowrap;
      .all-images {
        width: 56px;
        overflow: scroll;
        .all-images__list {
          list-style-type: none;
          .all-images__item {
            width: 54px;
            height: 54px;
            line-height: 54px;
            text-align: center;
            border: 1px solid transparent;
            border-radius: 4px;
            transition-duration: .1s;
            .all-images__img {
              max-height: 90%;
              max-width: 90%;
            }
          }
          .all-images__item--active {
            border-color: #00a046;
          }
        }
      }
      .current-image {
        width: calc(100% - 56px);
        text-align: center;
        img {
          max-height: 100%;
        }
      }
    }
    .product-info {
      .card-text span {
        font-weight: bold;
      }
    }
  }
  .card-footer {
    button:first-of-type {
      margin-right: 10px;
    }
  }
}

