<div class="card" *ngIf="product">
  <div class="card-header">{{product.name}}</div>
  <div class="card-body">
    <div class="product-images">
      <div class="all-images">
        <ul #ul class="all-images__list">
          <li #li class="all-images__item" *ngFor="let url of product.urls" (mouseover)="changeProductImage(ul, li, currentImg)">
            <img class="all-images__img" [src]="url">
          </li>
        </ul>
      </div>
      <div class="current-image">
        <img #currentImg [src]="product.urls[0]">
      </div>
    </div>
    <div class="product-info">
      <p class="card-text"><span>Category: </span>{{product.category}}</p>
      <p class="card-text"><span>Price: </span>{{product.price}}</p>
      <p class="card-text">{{product.description}}</p>
    </div>
  </div>
  <div class="card-footer">
    <button type="button" class="btn btn-success" routerLink="/">Назад</button>
    <button type="button" class="btn btn-primary">Добавить в корзину</button>
  </div>
</div>

