<main class="page-content">
  <section class="left-section">
    <app-category-list></app-category-list>
  </section>
  <section class="right-section">
    <app-product-list></app-product-list>
  </section>
</main>
