.product-review-list {
  list-style-type: none;
}

input {
  width: 100%;
  height: 100%;
}

button {
  margin: 10px 10px 0 0;
  height: 30px;
  width: 90px;
  line-height: 30px;
  padding: 0;
  text-align: center;
}
