.product-list {
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-auto-rows: 370px;
  .product-container {
    border: .5px solid lightgrey;
  }
  .product-container:hover {
    border: none;
    box-shadow: 0px 21px 39px -9px;
  }
}

