* {
	vertical-align: baseline;
	font-weight: inherit;
	font-family: inherit;
	font-style: inherit;
	font-size: 100%;
	border: 0 none;
	outline: 0;
	padding: 0;
  margin: 0;
  box-sizing: border-box;
  line-height: inherit;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}
