.form {
  border: .1px solid gainsboro;
  border-radius: 4px;
  margin-bottom: 16px;
  .form__header {
    border-bottom: inherit;
    height: 39px;
    padding: 8px 16px;
    font-weight: 900;
  }
  .form__body {
    padding: 10px 16px;
    text-align: justify;
    div {
      min-height: 50px;
    }
  }
  .form__footer {
    padding: 0px 16px 10px;
  }
}
.alert-warning {
  display: none;
}
