<form class="form" (click)="checkIfUserLoggedIn()">
  <div class="form__header">
    <span *ngIf="currentUser">{{currentUserFullName}}</span>
  </div>
  <div class="form__body">
   <div #inputText
       type="text"
       placeholder="Put your review here"
       aria-required="true"
       contenteditable="true"
       role="textbox"
       required>
   </div>
  </div>
  <div class="form__footer">
    <button class="btn btn-primary"
            (click)="addReview(inputText)">
            Добавить
    </button>
  </div>
 </form>
