<div class="category-list btn-group-vertical"
      *ngIf="categories">
  <button *ngFor="let category of categories"
          (click)="selectCategory(category.name)"
          type="button"
          class="btn btn-secondary">
          {{category.name}}
  </button>
</div>
