<div class="card">
  <div class="card-header">Login</div>
  <div class="card-body">
    <form [formGroup]="loginForm">
      <div class="form-group">
        <label for="username">Username</label>
        <input class="form-control"
               formControlName="username"
               type="email"
               id="username"
               placeholder="Username">
        <div *ngIf="username.dirty && username.invalid" class="input-alert">This field is required</div>
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input class="form-control"
               formControlName="password"
               type="password"
               id="password"
               placeholder="Password">
        <div *ngIf="password.dirty && password.invalid" class="input-alert">This field is required</div>
      </div>
      <div *ngIf="error"
           class="alert alert-danger"
           role="alert">
           {{error}}
      </div>
      <div *ngIf="success"
           class="alert alert-success"
           role="alert">
           {{success}}
 </div>
    </form>
  </div>
  <div class="card-footer">
    <button class="btn btn-primary"
            type="submit"
            (click)='login()'
            [disabled]="loginForm.dirty && loginForm.invalid">
            Login
    </button>
  </div>
</div>
